{
  "spec": {
    "swagger": "2.0",
    "host": "www.kaltura.com",
    "schemes": [
      "http",
      "https"
    ],
    "basePath": "/api_v3",
    "info": {
      "title": "Kaltura",
      "description": "The Kaltura API",
      "version": "3"
    },
    "securityDefinitions": {
      "secret": {
        "in": "query",
        "name": "secret",
        "type": "apiKey",
        "description": "Your API secret"
      }
    },
    "definitions": {
      "KalturaObjectBase": {},
      "KalturaListResponse": {
        "description": "",
        "properties": {
          "totalCount": {
            "type": "integer"
          }
        }
      },
      "KalturaBaseRestriction": {
        "description": "",
        "properties": {}
      },
      "KalturaAccessControl": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "systemName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "isDefault": {
            "type": "integer"
          },
          "restrictions": {
            "type": "array"
          },
          "containsUnsuportedRestrictions": {
            "type": "boolean"
          }
        }
      },
      "KalturaContextTypeHolder": {
        "description": "",
        "properties": {
          "type": {
            "type": "string"
          }
        }
      },
      "KalturaAccessControlContextTypeHolder": {
        "description": "",
        "properties": {}
      },
      "KalturaRuleAction": {
        "description": "",
        "properties": {
          "type": {
            "type": "string"
          }
        }
      },
      "KalturaCondition": {
        "description": "",
        "properties": {
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "not": {
            "type": "boolean"
          }
        }
      },
      "KalturaRule": {
        "description": "",
        "properties": {
          "message": {
            "type": "string"
          },
          "actions": {
            "type": "array"
          },
          "conditions": {
            "type": "array"
          },
          "contexts": {
            "type": "array"
          },
          "stopProcessing": {
            "type": "boolean"
          }
        }
      },
      "KalturaAccessControlProfile": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "systemName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "isDefault": {
            "type": "integer"
          },
          "rules": {
            "type": "array"
          }
        }
      },
      "KalturaKeyValue": {
        "description": "A key value pair representation to return an array of key-value pairs (associative array)\n ",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "KalturaAccessControlScope": {
        "description": "",
        "properties": {
          "referrer": {
            "type": "string"
          },
          "ip": {
            "type": "string"
          },
          "ks": {
            "type": "string"
          },
          "userAgent": {
            "type": "string"
          },
          "time": {
            "type": "integer"
          },
          "contexts": {
            "type": "array"
          },
          "hashes": {
            "type": "array"
          }
        }
      },
      "KalturaCuePoint": {
        "description": "",
        "properties": {
          "id": {
            "type": "string"
          },
          "cuePointType": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "entryId": {
            "type": "string"
          },
          "partnerId": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "triggeredAt": {
            "type": "integer"
          },
          "tags": {
            "type": "string"
          },
          "startTime": {
            "type": "integer"
          },
          "userId": {
            "type": "string"
          },
          "partnerData": {
            "type": "string"
          },
          "partnerSortValue": {
            "type": "integer"
          },
          "forceStop": {
            "type": "integer"
          },
          "thumbOffset": {
            "type": "integer"
          },
          "systemName": {
            "type": "string"
          }
        }
      },
      "KalturaAnnotation": {
        "description": "",
        "properties": {
          "parentId": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "endTime": {
            "type": "integer"
          },
          "duration": {
            "type": "integer"
          },
          "depth": {
            "type": "integer"
          },
          "childrenCount": {
            "type": "integer"
          },
          "directChildrenCount": {
            "type": "integer"
          },
          "isPublic": {
            "type": "integer"
          },
          "searchableOnEntry": {
            "type": "integer"
          }
        }
      },
      "KalturaApiExceptionArg": {
        "description": "",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "KalturaAsset": {
        "description": "",
        "properties": {
          "id": {
            "type": "string"
          },
          "entryId": {
            "type": "string"
          },
          "partnerId": {
            "type": "integer"
          },
          "version": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "tags": {
            "type": "string"
          },
          "fileExt": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "deletedAt": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "partnerData": {
            "type": "string"
          },
          "partnerDescription": {
            "type": "string"
          },
          "actualSourceAssetParamsIds": {
            "type": "string"
          }
        }
      },
      "KalturaAssetDistributionCondition": {
        "description": "Abstract class for asset distribution condition\n ",
        "properties": {}
      },
      "KalturaAssetDistributionRule": {
        "description": "",
        "properties": {
          "validationError": {
            "type": "string"
          },
          "assetDistributionConditions": {
            "type": "array"
          }
        }
      },
      "KalturaString": {
        "description": "A string representation to return an array of strings\n ",
        "properties": {
          "value": {
            "type": "string"
          }
        }
      },
      "KalturaAssetParams": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "systemName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "isSystemDefault": {
            "type": "integer"
          },
          "tags": {
            "type": "string"
          },
          "requiredPermissions": {
            "type": "array"
          },
          "sourceRemoteStorageProfileId": {
            "type": "integer"
          },
          "remoteStorageProfileIds": {
            "type": "integer"
          },
          "mediaParserType": {
            "type": "string"
          },
          "sourceAssetParamsIds": {
            "type": "string"
          }
        }
      },
      "KalturaResource": {
        "description": "Used to ingest entry object, as single resource or list of resources accompanied by asset params ids.\n ",
        "properties": {}
      },
      "KalturaContentResource": {
        "description": "Is a unified way to add content to Kaltura whether it's an uploaded file, webcam recording, imported URL or existing file sync.\n ",
        "properties": {}
      },
      "KalturaAssetParamsResourceContainer": {
        "description": "",
        "properties": {
          "resource": {
            "$ref": "#/definitions/KalturaContentResource"
          },
          "assetParamsId": {
            "type": "integer"
          }
        }
      },
      "KalturaAttachmentAsset": {
        "description": "",
        "properties": {
          "filename": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "KalturaAuditTrailInfo": {
        "description": "",
        "properties": {}
      },
      "KalturaAuditTrail": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "parsedAt": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "auditObjectType": {
            "type": "string"
          },
          "objectId": {
            "type": "string"
          },
          "relatedObjectId": {
            "type": "string"
          },
          "relatedObjectType": {
            "type": "string"
          },
          "entryId": {
            "type": "string"
          },
          "masterPartnerId": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "requestId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "data": {
            "$ref": "#/definitions/KalturaAuditTrailInfo"
          },
          "ks": {
            "type": "string"
          },
          "context": {
            "type": "integer"
          },
          "entryPoint": {
            "type": "string"
          },
          "serverName": {
            "type": "string"
          },
          "ipAddress": {
            "type": "string"
          },
          "userAgent": {
            "type": "string"
          },
          "clientTag": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "errorDescription": {
            "type": "string"
          }
        }
      },
      "KalturaAuditTrailChangeItem": {
        "description": "",
        "properties": {
          "descriptor": {
            "type": "string"
          },
          "oldValue": {
            "type": "string"
          },
          "newValue": {
            "type": "string"
          }
        }
      },
      "KalturaOperationAttributes": {
        "description": "Base class to all operation attributes types\n ",
        "properties": {}
      },
      "KalturaBaseEntry": {
        "description": "",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "partnerId": {
            "type": "integer"
          },
          "userId": {
            "type": "string"
          },
          "creatorId": {
            "type": "string"
          },
          "tags": {
            "type": "string"
          },
          "adminTags": {
            "type": "string"
          },
          "categories": {
            "type": "string"
          },
          "categoriesIds": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "moderationStatus": {
            "type": "integer"
          },
          "moderationCount": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "rank": {
            "type": "number"
          },
          "totalRank": {
            "type": "integer"
          },
          "votes": {
            "type": "integer"
          },
          "groupId": {
            "type": "integer"
          },
          "partnerData": {
            "type": "string"
          },
          "downloadUrl": {
            "type": "string"
          },
          "searchText": {
            "type": "string"
          },
          "licenseType": {
            "type": "integer"
          },
          "version": {
            "type": "integer"
          },
          "thumbnailUrl": {
            "type": "string"
          },
          "accessControlId": {
            "type": "integer"
          },
          "startDate": {
            "type": "integer"
          },
          "endDate": {
            "type": "integer"
          },
          "referenceId": {
            "type": "string"
          },
          "replacingEntryId": {
            "type": "string"
          },
          "replacedEntryId": {
            "type": "string"
          },
          "replacementStatus": {
            "type": "string"
          },
          "partnerSortValue": {
            "type": "integer"
          },
          "conversionProfileId": {
            "type": "integer"
          },
          "redirectEntryId": {
            "type": "string"
          },
          "rootEntryId": {
            "type": "string"
          },
          "parentEntryId": {
            "type": "string"
          },
          "operationAttributes": {
            "type": "array"
          },
          "entitledUsersEdit": {
            "type": "string"
          },
          "entitledUsersPublish": {
            "type": "string"
          }
        }
      },
      "KalturaBaseResponseProfile": {
        "description": "",
        "properties": {}
      },
      "KalturaBaseSyndicationFeed": {
        "description": "",
        "properties": {
          "id": {
            "type": "string"
          },
          "feedUrl": {
            "type": "string"
          },
          "partnerId": {
            "type": "integer"
          },
          "playlistId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "type": {
            "type": "integer"
          },
          "landingPage": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "allowEmbed": {
            "type": "boolean"
          },
          "playerUiconfId": {
            "type": "integer"
          },
          "flavorParamId": {
            "type": "integer"
          },
          "transcodeExistingContent": {
            "type": "boolean"
          },
          "addToDefaultConversionProfile": {
            "type": "boolean"
          },
          "categories": {
            "type": "string"
          },
          "storageId": {
            "type": "integer"
          },
          "entriesOrderBy": {
            "type": "string"
          },
          "enforceEntitlement": {
            "type": "boolean"
          },
          "privacyContext": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          }
        }
      },
      "KalturaBatchHistoryData": {
        "description": "",
        "properties": {
          "schedulerId": {
            "type": "integer"
          },
          "workerId": {
            "type": "integer"
          },
          "batchIndex": {
            "type": "integer"
          },
          "timeStamp": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "errType": {
            "type": "integer"
          },
          "errNumber": {
            "type": "integer"
          },
          "hostName": {
            "type": "string"
          },
          "sessionId": {
            "type": "string"
          }
        }
      },
      "KalturaJobData": {
        "description": "",
        "properties": {}
      },
      "KalturaBatchJob": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "deletedAt": {
            "type": "integer"
          },
          "lockExpiration": {
            "type": "integer"
          },
          "executionAttempts": {
            "type": "integer"
          },
          "lockVersion": {
            "type": "integer"
          },
          "entryId": {
            "type": "string"
          },
          "entryName": {
            "type": "string"
          },
          "jobType": {
            "type": "string"
          },
          "jobSubType": {
            "type": "integer"
          },
          "data": {
            "$ref": "#/definitions/KalturaJobData"
          },
          "status": {
            "type": "integer"
          },
          "abort": {
            "type": "integer"
          },
          "checkAgainTimeout": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "priority": {
            "type": "integer"
          },
          "history": {
            "type": "array"
          },
          "bulkJobId": {
            "type": "integer"
          },
          "batchVersion": {
            "type": "integer"
          },
          "parentJobId": {
            "type": "integer"
          },
          "rootJobId": {
            "type": "integer"
          },
          "queueTime": {
            "type": "integer"
          },
          "finishTime": {
            "type": "integer"
          },
          "errType": {
            "type": "integer"
          },
          "errNumber": {
            "type": "integer"
          },
          "estimatedEffort": {
            "type": "integer"
          },
          "urgency": {
            "type": "integer"
          },
          "schedulerId": {
            "type": "integer"
          },
          "workerId": {
            "type": "integer"
          },
          "batchIndex": {
            "type": "integer"
          },
          "lastSchedulerId": {
            "type": "integer"
          },
          "lastWorkerId": {
            "type": "integer"
          },
          "dc": {
            "type": "integer"
          },
          "jobObjectId": {
            "type": "string"
          },
          "jobObjectType": {
            "type": "integer"
          }
        }
      },
      "KalturaBulkServiceData": {
        "description": "This class represents object-specific data passed to the \n bulk upload job.\n ",
        "properties": {}
      },
      "KalturaBulkUploadPluginData": {
        "description": "",
        "properties": {
          "field": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "KalturaBulkUploadResult": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "bulkUploadJobId": {
            "type": "integer"
          },
          "lineIndex": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "objectId": {
            "type": "string"
          },
          "objectStatus": {
            "type": "integer"
          },
          "bulkUploadResultObjectType": {
            "type": "string"
          },
          "rowData": {
            "type": "string"
          },
          "partnerData": {
            "type": "string"
          },
          "objectErrorDescription": {
            "type": "string"
          },
          "pluginsData": {
            "type": "array"
          },
          "errorDescription": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorType": {
            "type": "integer"
          }
        }
      },
      "KalturaBulkUpload": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "uploadedBy": {
            "type": "string"
          },
          "uploadedByUserId": {
            "type": "string"
          },
          "uploadedOn": {
            "type": "integer"
          },
          "numOfEntries": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "logFileUrl": {
            "type": "string"
          },
          "csvFileUrl": {
            "type": "string"
          },
          "bulkFileUrl": {
            "type": "string"
          },
          "bulkUploadType": {
            "type": "string"
          },
          "results": {
            "type": "array"
          },
          "error": {
            "type": "string"
          },
          "errorType": {
            "type": "integer"
          },
          "errorNumber": {
            "type": "integer"
          },
          "fileName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "numOfObjects": {
            "type": "integer"
          },
          "bulkUploadObjectType": {
            "type": "string"
          }
        }
      },
      "KalturaBulkUploadObjectData": {
        "description": "This class represents object-specific data passed to the \n bulk upload job.\n ",
        "properties": {}
      },
      "KalturaBusinessProcessCase": {
        "description": "",
        "properties": {
          "id": {
            "type": "string"
          },
          "businessProcessId": {
            "type": "string"
          },
          "businessProcessStartNotificationTemplateId": {
            "type": "integer"
          },
          "suspended": {
            "type": "boolean"
          },
          "activityId": {
            "type": "string"
          }
        }
      },
      "KalturaBusinessProcessServer": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "systemName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "KalturaCEError": {
        "description": "",
        "properties": {
          "id": {
            "type": "string"
          },
          "partnerId": {
            "type": "integer"
          },
          "browser": {
            "type": "string"
          },
          "serverIp": {
            "type": "string"
          },
          "serverOs": {
            "type": "string"
          },
          "phpVersion": {
            "type": "string"
          },
          "ceAdminEmail": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "KalturaCaptionAsset": {
        "description": "",
        "properties": {
          "captionParamsId": {
            "type": "integer"
          },
          "language": {
            "type": "string"
          },
          "languageCode": {
            "type": "string"
          },
          "isDefault": {
            "type": "integer"
          },
          "label": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "KalturaCaptionAssetItem": {
        "description": "",
        "properties": {
          "asset": {
            "$ref": "#/definitions/KalturaCaptionAsset"
          },
          "entry": {
            "$ref": "#/definitions/KalturaBaseEntry"
          },
          "startTime": {
            "type": "integer"
          },
          "endTime": {
            "type": "integer"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "KalturaCaptionParams": {
        "description": "",
        "properties": {
          "language": {
            "type": "string"
          },
          "isDefault": {
            "type": "integer"
          },
          "label": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "sourceParamsId": {
            "type": "integer"
          }
        }
      },
      "KalturaCategory": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "parentId": {
            "type": "integer"
          },
          "depth": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "fullIds": {
            "type": "string"
          },
          "entriesCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "string"
          },
          "appearInList": {
            "type": "integer"
          },
          "privacy": {
            "type": "integer"
          },
          "inheritanceType": {
            "type": "integer"
          },
          "userJoinPolicy": {
            "type": "integer"
          },
          "defaultPermissionLevel": {
            "type": "integer"
          },
          "owner": {
            "type": "string"
          },
          "directEntriesCount": {
            "type": "integer"
          },
          "referenceId": {
            "type": "string"
          },
          "contributionPolicy": {
            "type": "integer"
          },
          "membersCount": {
            "type": "integer"
          },
          "pendingMembersCount": {
            "type": "integer"
          },
          "privacyContext": {
            "type": "string"
          },
          "privacyContexts": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "inheritedParentId": {
            "type": "integer"
          },
          "partnerSortValue": {
            "type": "integer"
          },
          "partnerData": {
            "type": "string"
          },
          "defaultOrderBy": {
            "type": "string"
          },
          "directSubCategoriesCount": {
            "type": "integer"
          },
          "moderation": {
            "type": "integer"
          },
          "pendingEntriesCount": {
            "type": "integer"
          }
        }
      },
      "KalturaCategoryEntry": {
        "description": "",
        "properties": {
          "categoryId": {
            "type": "integer"
          },
          "entryId": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "categoryFullIds": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "KalturaCategoryUser": {
        "description": "",
        "properties": {
          "categoryId": {
            "type": "integer"
          },
          "userId": {
            "type": "string"
          },
          "partnerId": {
            "type": "integer"
          },
          "permissionLevel": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "updateMethod": {
            "type": "integer"
          },
          "categoryFullIds": {
            "type": "string"
          },
          "permissionNames": {
            "type": "string"
          }
        }
      },
      "KalturaClientConfiguration": {
        "description": "Define client optional configurations\n /",
        "properties": {
          "clientTag": {
            "type": "string"
          },
          "apiVersion": {
            "type": "string"
          }
        }
      },
      "KalturaClientNotification": {
        "description": "Client notification object to hold the notification url and the data when sending client side notifications\n ",
        "properties": {
          "url": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "KalturaContext": {
        "description": "",
        "properties": {}
      },
      "KalturaContextDataResult": {
        "description": "",
        "properties": {
          "messages": {
            "type": "array"
          },
          "actions": {
            "type": "array"
          }
        }
      },
      "KalturaControlPanelCommand": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "createdBy": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          },
          "updatedBy": {
            "type": "string"
          },
          "createdById": {
            "type": "integer"
          },
          "schedulerId": {
            "type": "integer"
          },
          "workerId": {
            "type": "integer"
          },
          "workerConfiguredId": {
            "type": "integer"
          },
          "workerName": {
            "type": "integer"
          },
          "batchIndex": {
            "type": "integer"
          },
          "type": {
            "type": "integer"
          },
          "targetType": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "cause": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "errorDescription": {
            "type": "string"
          }
        }
      },
      "KalturaConversionAttribute": {
        "description": "",
        "properties": {
          "flavorParamsId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "KalturaCropDimensions": {
        "description": "",
        "properties": {
          "left": {
            "type": "integer"
          },
          "top": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          }
        }
      },
      "KalturaConversionProfile": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "systemName": {
            "type": "string"
          },
          "tags": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "defaultEntryId": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "flavorParamsIds": {
            "type": "string"
          },
          "isDefault": {
            "type": "integer"
          },
          "isPartnerDefault": {
            "type": "boolean"
          },
          "cropDimensions": {
            "$ref": "#/definitions/KalturaCropDimensions"
          },
          "clipStart": {
            "type": "integer"
          },
          "clipDuration": {
            "type": "integer"
          },
          "xslTransformation": {
            "type": "string"
          },
          "storageProfileId": {
            "type": "integer"
          },
          "mediaParserType": {
            "type": "string"
          }
        }
      },
      "KalturaConversionProfileAssetParams": {
        "description": "",
        "properties": {
          "conversionProfileId": {
            "type": "integer"
          },
          "assetParamsId": {
            "type": "integer"
          },
          "readyBehavior": {
            "type": "integer"
          },
          "origin": {
            "type": "integer"
          },
          "systemName": {
            "type": "string"
          },
          "forceNoneComplied": {
            "type": "integer"
          },
          "deletePolicy": {
            "type": "integer"
          }
        }
      },
      "KalturaConvertCollectionFlavorData": {
        "description": "",
        "properties": {
          "flavorAssetId": {
            "type": "string"
          },
          "flavorParamsOutputId": {
            "type": "integer"
          },
          "readyBehavior": {
            "type": "integer"
          },
          "videoBitrate": {
            "type": "integer"
          },
          "audioBitrate": {
            "type": "integer"
          },
          "destFileSyncLocalPath": {
            "type": "string"
          },
          "destFileSyncRemoteUrl": {
            "type": "string"
          }
        }
      },
      "KalturaCoordinate": {
        "description": "",
        "properties": {
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "KalturaDataEntry": {
        "description": "",
        "properties": {
          "dataContent": {
            "type": "string"
          },
          "retrieveDataContentByGet": {
            "type": "boolean"
          }
        }
      },
      "KalturaUrlRecognizer": {
        "description": "",
        "properties": {
          "hosts": {
            "type": "string"
          },
          "uriPrefix": {
            "type": "string"
          }
        }
      },
      "KalturaUrlTokenizer": {
        "description": "",
        "properties": {
          "window": {
            "type": "integer"
          },
          "key": {
            "type": "string"
          }
        }
      },
      "KalturaDeliveryProfile": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "systemName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "streamerType": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "hostName": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "recognizer": {
            "$ref": "#/definitions/KalturaUrlRecognizer"
          },
          "tokenizer": {
            "$ref": "#/definitions/KalturaUrlTokenizer"
          },
          "isDefault": {
            "type": "integer"
          },
          "parentId": {
            "type": "integer"
          },
          "mediaProtocols": {
            "type": "string"
          },
          "priority": {
            "type": "integer"
          }
        }
      },
      "KalturaFileSyncDescriptor": {
        "description": "",
        "properties": {
          "fileSyncLocalPath": {
            "type": "string"
          },
          "fileSyncRemoteUrl": {
            "type": "string"
          },
          "fileSyncObjectSubType": {
            "type": "integer"
          }
        }
      },
      "KalturaDestFileSyncDescriptor": {
        "description": "",
        "properties": {}
      },
      "KalturaSearchItem": {
        "description": "",
        "properties": {}
      },
      "KalturaFilter": {
        "description": "",
        "properties": {
          "orderBy": {
            "type": "string"
          },
          "advancedSearch": {
            "$ref": "#/definitions/KalturaSearchItem"
          }
        }
      },
      "KalturaRelatedFilter": {
        "description": "",
        "properties": {}
      },
      "KalturaFilterPager": {
        "description": "The KalturaFilterPager object enables paging management to be applied upon service list actions. \n ",
        "properties": {
          "pageSize": {
            "type": "integer"
          },
          "pageIndex": {
            "type": "integer"
          }
        }
      },
      "KalturaResponseProfileMapping": {
        "description": "",
        "properties": {
          "parentProperty": {
            "type": "string"
          },
          "filterProperty": {
            "type": "string"
          },
          "allowNull": {
            "type": "boolean"
          }
        }
      },
      "KalturaDetachedResponseProfile": {
        "description": "",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "integer"
          },
          "fields": {
            "type": "string"
          },
          "filter": {
            "$ref": "#/definitions/KalturaRelatedFilter"
          },
          "pager": {
            "$ref": "#/definitions/KalturaFilterPager"
          },
          "relatedProfiles": {
            "type": "array"
          },
          "mappings": {
            "type": "array"
          }
        }
      },
      "KalturaDistributionFieldConfig": {
        "description": "",
        "properties": {
          "fieldName": {
            "type": "string"
          },
          "userFriendlyFieldName": {
            "type": "string"
          },
          "entryMrssXslt": {
            "type": "string"
          },
          "isRequired": {
            "type": "integer"
          },
          "updateOnChange": {
            "type": "boolean"
          },
          "updateParams": {
            "type": "array"
          },
          "isDefault": {
            "type": "boolean"
          }
        }
      },
      "KalturaDistributionJobProviderData": {
        "description": "",
        "properties": {}
      },
      "KalturaDistributionThumbDimensions": {
        "description": "",
        "properties": {
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          }
        }
      },
      "KalturaDistributionProfile": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "providerType": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "submitEnabled": {
            "type": "integer"
          },
          "updateEnabled": {
            "type": "integer"
          },
          "deleteEnabled": {
            "type": "integer"
          },
          "reportEnabled": {
            "type": "integer"
          },
          "autoCreateFlavors": {
            "type": "string"
          },
          "autoCreateThumb": {
            "type": "string"
          },
          "optionalFlavorParamsIds": {
            "type": "string"
          },
          "requiredFlavorParamsIds": {
            "type": "string"
          },
          "optionalThumbDimensions": {
            "type": "array"
          },
          "requiredThumbDimensions": {
            "type": "array"
          },
          "optionalAssetDistributionRules": {
            "type": "array"
          },
          "requiredAssetDistributionRules": {
            "type": "array"
          },
          "sunriseDefaultOffset": {
            "type": "integer"
          },
          "sunsetDefaultOffset": {
            "type": "integer"
          },
          "recommendedStorageProfileForDownload": {
            "type": "integer"
          },
          "recommendedDcForDownload": {
            "type": "integer"
          },
          "recommendedDcForExecute": {
            "type": "integer"
          }
        }
      },
      "KalturaDistributionProvider": {
        "description": "",
        "properties": {
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "scheduleUpdateEnabled": {
            "type": "boolean"
          },
          "availabilityUpdateEnabled": {
            "type": "boolean"
          },
          "deleteInsteadUpdate": {
            "type": "boolean"
          },
          "intervalBeforeSunrise": {
            "type": "integer"
          },
          "intervalBeforeSunset": {
            "type": "integer"
          },
          "updateRequiredEntryFields": {
            "type": "string"
          },
          "updateRequiredMetadataXPaths": {
            "type": "string"
          }
        }
      },
      "KalturaDistributionRemoteMediaFile": {
        "description": "",
        "properties": {
          "version": {
            "type": "string"
          },
          "assetId": {
            "type": "string"
          },
          "remoteId": {
            "type": "string"
          }
        }
      },
      "KalturaDistributionValidationError": {
        "description": "",
        "properties": {
          "action": {
            "type": "integer"
          },
          "errorType": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "KalturaDocumentEntry": {
        "description": "",
        "properties": {
          "documentType": {
            "type": "integer"
          },
          "assetParamsIds": {
            "type": "string"
          }
        }
      },
      "KalturaDrmPolicy": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "systemName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "scenario": {
            "type": "string"
          },
          "licenseType": {
            "type": "string"
          },
          "licenseExpirationPolicy": {
            "type": "integer"
          },
          "duration": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          }
        }
      },
      "KalturaDrmProfile": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "licenseServerUrl": {
            "type": "string"
          },
          "defaultPolicy": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          }
        }
      },
      "KalturaDropFolderFileHandlerConfig": {
        "description": "",
        "properties": {
          "handlerType": {
            "type": "string"
          }
        }
      },
      "KalturaDropFolder": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "conversionProfileId": {
            "type": "integer"
          },
          "dc": {
            "type": "integer"
          },
          "path": {
            "type": "string"
          },
          "fileSizeCheckInterval": {
            "type": "integer"
          },
          "fileDeletePolicy": {
            "type": "integer"
          },
          "autoFileDeleteDays": {
            "type": "integer"
          },
          "fileHandlerType": {
            "type": "string"
          },
          "fileNamePatterns": {
            "type": "string"
          },
          "fileHandlerConfig": {
            "$ref": "#/definitions/KalturaDropFolderFileHandlerConfig"
          },
          "tags": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorDescription": {
            "type": "string"
          },
          "ignoreFileNamePatterns": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "lastAccessedAt": {
            "type": "integer"
          },
          "incremental": {
            "type": "boolean"
          },
          "lastFileTimestamp": {
            "type": "integer"
          },
          "metadataProfileId": {
            "type": "integer"
          },
          "categoriesMetadataFieldName": {
            "type": "string"
          },
          "enforceEntitlement": {
            "type": "boolean"
          },
          "shouldValidateKS": {
            "type": "boolean"
          }
        }
      },
      "KalturaDropFolderFile": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "dropFolderId": {
            "type": "integer"
          },
          "fileName": {
            "type": "string"
          },
          "fileSize": {
            "type": "number"
          },
          "fileSizeLastSetAt": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "parsedSlug": {
            "type": "string"
          },
          "parsedFlavor": {
            "type": "string"
          },
          "parsedUserId": {
            "type": "string"
          },
          "leadDropFolderFileId": {
            "type": "integer"
          },
          "deletedDropFolderFileId": {
            "type": "integer"
          },
          "entryId": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorDescription": {
            "type": "string"
          },
          "lastModificationTime": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "uploadStartDetectedAt": {
            "type": "integer"
          },
          "uploadEndDetectedAt": {
            "type": "integer"
          },
          "importStartedAt": {
            "type": "integer"
          },
          "importEndedAt": {
            "type": "integer"
          },
          "batchJobId": {
            "type": "integer"
          }
        }
      },
      "KalturaEmailIngestionProfile": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "mailboxId": {
            "type": "string"
          },
          "partnerId": {
            "type": "integer"
          },
          "conversionProfile2Id": {
            "type": "integer"
          },
          "moderationStatus": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "defaultCategory": {
            "type": "string"
          },
          "defaultUserId": {
            "type": "string"
          },
          "defaultTags": {
            "type": "string"
          },
          "defaultAdminTags": {
            "type": "string"
          },
          "maxAttachmentSizeKbytes": {
            "type": "integer"
          },
          "maxAttachmentsPerMail": {
            "type": "integer"
          }
        }
      },
      "KalturaValue": {
        "description": "A representation to return an array of values\n ",
        "properties": {
          "description": {
            "type": "string"
          }
        }
      },
      "KalturaStringValue": {
        "description": "A string representation to return an array of strings\n ",
        "properties": {
          "value": {
            "type": "string"
          }
        }
      },
      "KalturaEmailNotificationRecipient": {
        "description": "",
        "properties": {
          "email": {
            "$ref": "#/definitions/KalturaStringValue"
          },
          "name": {
            "$ref": "#/definitions/KalturaStringValue"
          }
        }
      },
      "KalturaEmailNotificationRecipientJobData": {
        "description": "Abstract class representing the final output recipients going into the batch mechanism\n ",
        "properties": {
          "providerType": {
            "type": "string"
          }
        }
      },
      "KalturaEmailNotificationRecipientProvider": {
        "description": "Abstract core class  which provides the recipients (to, CC, BCC) for an email notification\n ",
        "properties": {}
      },
      "KalturaEntryDistribution": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "submittedAt": {
            "type": "integer"
          },
          "entryId": {
            "type": "string"
          },
          "partnerId": {
            "type": "integer"
          },
          "distributionProfileId": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "sunStatus": {
            "type": "integer"
          },
          "dirtyStatus": {
            "type": "integer"
          },
          "thumbAssetIds": {
            "type": "string"
          },
          "flavorAssetIds": {
            "type": "string"
          },
          "assetIds": {
            "type": "string"
          },
          "sunrise": {
            "type": "integer"
          },
          "sunset": {
            "type": "integer"
          },
          "remoteId": {
            "type": "string"
          },
          "plays": {
            "type": "integer"
          },
          "views": {
            "type": "integer"
          },
          "validationErrors": {
            "type": "array"
          },
          "errorType": {
            "type": "integer"
          },
          "errorNumber": {
            "type": "integer"
          },
          "errorDescription": {
            "type": "string"
          },
          "hasSubmitResultsLog": {
            "type": "integer"
          },
          "hasSubmitSentDataLog": {
            "type": "integer"
          },
          "hasUpdateResultsLog": {
            "type": "integer"
          },
          "hasUpdateSentDataLog": {
            "type": "integer"
          },
          "hasDeleteResultsLog": {
            "type": "integer"
          },
          "hasDeleteSentDataLog": {
            "type": "integer"
          }
        }
      },
      "KalturaEntryReplacementOptions": {
        "description": "Advanced configuration for entry replacement process\n ",
        "properties": {
          "keepManualThumbnails": {
            "type": "integer"
          }
        }
      },
      "KalturaEventNotificationParameter": {
        "description": "",
        "properties": {
          "key": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "value": {
            "$ref": "#/definitions/KalturaStringValue"
          }
        }
      },
      "KalturaEventNotificationTemplate": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "systemName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "manualDispatchEnabled": {
            "type": "boolean"
          },
          "automaticDispatchEnabled": {
            "type": "boolean"
          },
          "eventType": {
            "type": "string"
          },
          "eventObjectType": {
            "type": "string"
          },
          "eventConditions": {
            "type": "array"
          },
          "contentParameters": {
            "type": "array"
          },
          "userParameters": {
            "type": "array"
          }
        }
      },
      "KalturaObjectIdentifier": {
        "description": "Configuration for extended item in the Kaltura MRSS feeds\n ",
        "properties": {
          "extendedFeatures": {
            "type": "string"
          }
        }
      },
      "KalturaExtendingItemMrssParameter": {
        "description": "",
        "properties": {
          "xpath": {
            "type": "string"
          },
          "identifier": {
            "$ref": "#/definitions/KalturaObjectIdentifier"
          },
          "extensionMode": {
            "type": "integer"
          }
        }
      },
      "KalturaPlayableEntry": {
        "description": "",
        "properties": {
          "plays": {
            "type": "integer"
          },
          "views": {
            "type": "integer"
          },
          "lastPlayedAt": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "duration": {
            "type": "integer"
          },
          "msDuration": {
            "type": "integer"
          },
          "durationType": {
            "type": "string"
          }
        }
      },
      "KalturaMediaEntry": {
        "description": "",
        "properties": {
          "mediaType": {
            "type": "integer"
          },
          "conversionQuality": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "searchProviderType": {
            "type": "integer"
          },
          "searchProviderId": {
            "type": "string"
          },
          "creditUserName": {
            "type": "string"
          },
          "creditUrl": {
            "type": "string"
          },
          "mediaDate": {
            "type": "integer"
          },
          "dataUrl": {
            "type": "string"
          },
          "flavorParamsIds": {
            "type": "string"
          }
        }
      },
      "KalturaExternalMediaEntry": {
        "description": "",
        "properties": {
          "externalSourceType": {
            "type": "string"
          },
          "assetParamsIds": {
            "type": "string"
          }
        }
      },
      "KalturaFeatureStatus": {
        "description": "",
        "properties": {
          "type": {
            "type": "integer"
          },
          "value": {
            "type": "integer"
          }
        }
      },
      "KalturaFeedItemInfo": {
        "description": "",
        "properties": {
          "itemXPath": {
            "type": "string"
          },
          "itemPublishDateXPath": {
            "type": "string"
          },
          "itemUniqueIdentifierXPath": {
            "type": "string"
          },
          "itemContentFileSizeXPath": {
            "type": "string"
          },
          "itemContentUrlXPath": {
            "type": "string"
          },
          "itemContentBitrateXPath": {
            "type": "string"
          },
          "itemHashXPath": {
            "type": "string"
          },
          "itemContentXpath": {
            "type": "string"
          },
          "contentBitrateAttributeName": {
            "type": "string"
          }
        }
      },
      "KalturaFileAsset": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "fileAssetObjectType": {
            "type": "string"
          },
          "objectId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "systemName": {
            "type": "string"
          },
          "fileExt": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "KalturaFileSync": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "fileObjectType": {
            "type": "string"
          },
          "objectId": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "objectSubType": {
            "type": "integer"
          },
          "dc": {
            "type": "string"
          },
          "original": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "readyAt": {
            "type": "integer"
          },
          "syncTime": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "fileType": {
            "type": "integer"
          },
          "linkedId": {
            "type": "integer"
          },
          "linkCount": {
            "type": "integer"
          },
          "fileRoot": {
            "type": "string"
          },
          "filePath": {
            "type": "string"
          },
          "fileSize": {
            "type": "number"
          },
          "fileUrl": {
            "type": "string"
          },
          "fileContent": {
            "type": "string"
          },
          "fileDiscSize": {
            "type": "number"
          },
          "isCurrentDc": {
            "type": "boolean"
          }
        }
      },
      "KalturaFlavorAsset": {
        "description": "",
        "properties": {
          "flavorParamsId": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "bitrate": {
            "type": "integer"
          },
          "frameRate": {
            "type": "number"
          },
          "isOriginal": {
            "type": "boolean"
          },
          "isWeb": {
            "type": "boolean"
          },
          "containerFormat": {
            "type": "string"
          },
          "videoCodecId": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "KalturaFlavorAssetUrlOptions": {
        "description": "",
        "properties": {
          "fileName": {
            "type": "string"
          }
        }
      },
      "KalturaFlavorParams": {
        "description": "",
        "properties": {
          "videoCodec": {
            "type": "string"
          },
          "videoBitrate": {
            "type": "integer"
          },
          "audioCodec": {
            "type": "string"
          },
          "audioBitrate": {
            "type": "integer"
          },
          "audioChannels": {
            "type": "integer"
          },
          "audioSampleRate": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "frameRate": {
            "type": "integer"
          },
          "gopSize": {
            "type": "integer"
          },
          "conversionEngines": {
            "type": "string"
          },
          "conversionEnginesExtraParams": {
            "type": "string"
          },
          "twoPass": {
            "type": "boolean"
          },
          "deinterlice": {
            "type": "integer"
          },
          "rotate": {
            "type": "integer"
          },
          "operators": {
            "type": "string"
          },
          "engineVersion": {
            "type": "integer"
          },
          "format": {
            "type": "string"
          },
          "aspectRatioProcessingMode": {
            "type": "integer"
          },
          "forceFrameToMultiplication16": {
            "type": "integer"
          },
          "isGopInSec": {
            "type": "integer"
          },
          "isAvoidVideoShrinkFramesizeToSource": {
            "type": "integer"
          },
          "isAvoidVideoShrinkBitrateToSource": {
            "type": "integer"
          },
          "isVideoFrameRateForLowBrAppleHls": {
            "type": "integer"
          },
          "multiStream": {
            "type": "string"
          },
          "anamorphicPixels": {
            "type": "number"
          },
          "isAvoidForcedKeyFrames": {
            "type": "integer"
          },
          "isCropIMX": {
            "type": "integer"
          },
          "optimizationPolicy": {
            "type": "integer"
          },
          "maxFrameRate": {
            "type": "integer"
          },
          "videoConstantBitrate": {
            "type": "integer"
          },
          "videoBitrateTolerance": {
            "type": "integer"
          },
          "watermarkData": {
            "type": "string"
          },
          "clipOffset": {
            "type": "integer"
          },
          "clipDuration": {
            "type": "integer"
          }
        }
      },
      "KalturaFlavorAssetWithParams": {
        "description": "",
        "properties": {
          "flavorAsset": {
            "$ref": "#/definitions/KalturaFlavorAsset"
          },
          "flavorParams": {
            "$ref": "#/definitions/KalturaFlavorParams"
          },
          "entryId": {
            "type": "string"
          }
        }
      },
      "KalturaFlavorParamsOutput": {
        "description": "",
        "properties": {
          "flavorParamsId": {
            "type": "integer"
          },
          "commandLinesStr": {
            "type": "string"
          },
          "flavorParamsVersion": {
            "type": "string"
          },
          "flavorAssetId": {
            "type": "string"
          },
          "flavorAssetVersion": {
            "type": "string"
          },
          "readyBehavior": {
            "type": "integer"
          }
        }
      },
      "KalturaGenericDistributionProfileAction": {
        "description": "",
        "properties": {
          "protocol": {
            "type": "integer"
          },
          "serverUrl": {
            "type": "string"
          },
          "serverPath": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "ftpPassiveMode": {
            "type": "boolean"
          },
          "httpFieldName": {
            "type": "string"
          },
          "httpFileName": {
            "type": "string"
          }
        }
      },
      "KalturaGenericDistributionProviderAction": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "genericDistributionProviderId": {
            "type": "integer"
          },
          "action": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "resultsParser": {
            "type": "integer"
          },
          "protocol": {
            "type": "integer"
          },
          "serverAddress": {
            "type": "string"
          },
          "remotePath": {
            "type": "string"
          },
          "remoteUsername": {
            "type": "string"
          },
          "remotePassword": {
            "type": "string"
          },
          "editableFields": {
            "type": "string"
          },
          "mandatoryFields": {
            "type": "string"
          },
          "mrssTransformer": {
            "type": "string"
          },
          "mrssValidator": {
            "type": "string"
          },
          "resultsTransformer": {
            "type": "string"
          }
        }
      },
      "KalturaGenericDistributionProvider": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "isDefault": {
            "type": "boolean"
          },
          "status": {
            "type": "integer"
          },
          "optionalFlavorParamsIds": {
            "type": "string"
          },
          "requiredFlavorParamsIds": {
            "type": "string"
          },
          "optionalThumbDimensions": {
            "type": "array"
          },
          "requiredThumbDimensions": {
            "type": "array"
          },
          "editableFields": {
            "type": "string"
          },
          "mandatoryFields": {
            "type": "string"
          }
        }
      },
      "KalturaGroupUser": {
        "description": "",
        "properties": {
          "userId": {
            "type": "string"
          },
          "groupId": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          }
        }
      },
      "KalturaObject": {
        "description": "",
        "properties": {
          "relatedObjects": {
            "type": "object"
          }
        }
      },
      "KalturaHttpNotification": {
        "description": "Wrapper for sent notifications \n ",
        "properties": {
          "object": {
            "$ref": "#/definitions/KalturaObjectBase"
          },
          "eventObjectType": {
            "type": "string"
          },
          "eventNotificationJobId": {
            "type": "integer"
          },
          "templateId": {
            "type": "integer"
          },
          "templateName": {
            "type": "string"
          },
          "templateSystemName": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          }
        }
      },
      "KalturaHttpNotificationData": {
        "description": "",
        "properties": {}
      },
      "KalturaIntegerValue": {
        "description": "An int representation to return an array of ints\n ",
        "properties": {
          "value": {
            "type": "integer"
          }
        }
      },
      "KalturaIntegrationJobProviderData": {
        "description": "",
        "properties": {}
      },
      "KalturaIntegrationJobTriggerData": {
        "description": "",
        "properties": {}
      },
      "KalturaLiveStreamConfiguration": {
        "description": "A representation of a live stream configuration\n ",
        "properties": {
          "protocol": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "publishUrl": {
            "type": "string"
          },
          "backupUrl": {
            "type": "string"
          },
          "streamName": {
            "type": "string"
          }
        }
      },
      "KalturaLiveStreamPushPublishConfiguration": {
        "description": "Basic push-publish configuration for Kaltura live stream entry\n ",
        "properties": {
          "publishUrl": {
            "type": "string"
          },
          "backupPublishUrl": {
            "type": "string"
          },
          "port": {
            "type": "string"
          }
        }
      },
      "KalturaLiveEntryRecordingOptions": {
        "description": "A representation of a live stream recording entry configuration\n ",
        "properties": {
          "shouldCopyEntitlement": {
            "type": "integer"
          }
        }
      },
      "KalturaLiveEntry": {
        "description": "",
        "properties": {
          "offlineMessage": {
            "type": "string"
          },
          "recordStatus": {
            "type": "integer"
          },
          "dvrStatus": {
            "type": "integer"
          },
          "dvrWindow": {
            "type": "integer"
          },
          "lastElapsedRecordingTime": {
            "type": "integer"
          },
          "liveStreamConfigurations": {
            "type": "array"
          },
          "recordedEntryId": {
            "type": "string"
          },
          "pushPublishEnabled": {
            "type": "integer"
          },
          "publishConfigurations": {
            "type": "array"
          },
          "firstBroadcast": {
            "type": "integer"
          },
          "lastBroadcast": {
            "type": "integer"
          },
          "currentBroadcastStartTime": {
            "type": "number"
          },
          "recordingOptions": {
            "$ref": "#/definitions/KalturaLiveEntryRecordingOptions"
          }
        }
      },
      "KalturaLiveChannel": {
        "description": "",
        "properties": {
          "playlistId": {
            "type": "string"
          },
          "repeat": {
            "type": "integer"
          }
        }
      },
      "KalturaLiveChannelSegment": {
        "description": "",
        "properties": {
          "id": {
            "type": "string"
          },
          "partnerId": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "channelId": {
            "type": "string"
          },
          "entryId": {
            "type": "string"
          },
          "triggerType": {
            "type": "string"
          },
          "triggerSegmentId": {
            "type": "string"
          },
          "startTime": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          }
        }
      },
      "KalturaLiveReportExportParams": {
        "description": "",
        "properties": {
          "entryIds": {
            "type": "string"
          },
          "recpientEmail": {
            "type": "string"
          },
          "timeZoneOffset": {
            "type": "integer"
          },
          "applicationUrlTemplate": {
            "type": "string"
          }
        }
      },
      "KalturaLiveReportExportResponse": {
        "description": "",
        "properties": {
          "referenceJobId": {
            "type": "integer"
          },
          "reportEmail": {
            "type": "string"
          }
        }
      },
      "KalturaLiveReportInputFilter": {
        "description": "",
        "properties": {
          "entryIds": {
            "type": "string"
          },
          "fromTime": {
            "type": "integer"
          },
          "toTime": {
            "type": "integer"
          },
          "live": {
            "type": "integer"
          },
          "orderBy": {
            "type": "string"
          }
        }
      },
      "KalturaLiveStats": {
        "description": "",
        "properties": {
          "audience": {
            "type": "integer"
          },
          "dvrAudience": {
            "type": "integer"
          },
          "avgBitrate": {
            "type": "number"
          },
          "bufferTime": {
            "type": "integer"
          },
          "plays": {
            "type": "integer"
          },
          "secondsViewed": {
            "type": "integer"
          },
          "startEvent": {
            "type": "integer"
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "KalturaLiveStatsEvent": {
        "description": "Will hold data from the Kaltura Player components to be passed on to the live analytics system\n ",
        "properties": {
          "partnerId": {
            "type": "integer"
          },
          "entryId": {
            "type": "string"
          },
          "eventType": {
            "type": "integer"
          },
          "sessionId": {
            "type": "string"
          },
          "eventIndex": {
            "type": "integer"
          },
          "bufferTime": {
            "type": "integer"
          },
          "bitrate": {
            "type": "integer"
          },
          "referrer": {
            "type": "string"
          },
          "isLive": {
            "type": "boolean"
          },
          "startTime": {
            "type": "string"
          },
          "deliveryType": {
            "type": "string"
          }
        }
      },
      "KalturaLiveStreamBitrate": {
        "description": "",
        "properties": {
          "bitrate": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "tags": {
            "type": "string"
          }
        }
      },
      "KalturaLiveStreamEntry": {
        "description": "",
        "properties": {
          "streamRemoteId": {
            "type": "string"
          },
          "streamRemoteBackupId": {
            "type": "string"
          },
          "bitrates": {
            "type": "array"
          },
          "primaryBroadcastingUrl": {
            "type": "string"
          },
          "secondaryBroadcastingUrl": {
            "type": "string"
          },
          "primaryRtspBroadcastingUrl": {
            "type": "string"
          },
          "secondaryRtspBroadcastingUrl": {
            "type": "string"
          },
          "streamName": {
            "type": "string"
          },
          "streamUrl": {
            "type": "string"
          },
          "hlsStreamUrl": {
            "type": "string"
          },
          "urlManager": {
            "type": "string"
          },
          "encodingIP1": {
            "type": "string"
          },
          "encodingIP2": {
            "type": "string"
          },
          "streamPassword": {
            "type": "string"
          },
          "streamUsername": {
            "type": "string"
          }
        }
      },
      "KalturaBaseEntryBaseFilter": {
        "description": "",
        "properties": {
          "idEqual": {
            "type": "string"
          },
          "idIn": {
            "type": "string"
          },
          "idNotIn": {
            "type": "string"
          },
          "nameLike": {
            "type": "string"
          },
          "nameMultiLikeOr": {
            "type": "string"
          },
          "nameMultiLikeAnd": {
            "type": "string"
          },
          "nameEqual": {
            "type": "string"
          },
          "partnerIdEqual": {
            "type": "integer"
          },
          "partnerIdIn": {
            "type": "string"
          },
          "userIdEqual": {
            "type": "string"
          },
          "userIdIn": {
            "type": "string"
          },
          "creatorIdEqual": {
            "type": "string"
          },
          "tagsLike": {
            "type": "string"
          },
          "tagsMultiLikeOr": {
            "type": "string"
          },
          "tagsMultiLikeAnd": {
            "type": "string"
          },
          "adminTagsLike": {
            "type": "string"
          },
          "adminTagsMultiLikeOr": {
            "type": "string"
          },
          "adminTagsMultiLikeAnd": {
            "type": "string"
          },
          "categoriesMatchAnd": {
            "type": "string"
          },
          "categoriesMatchOr": {
            "type": "string"
          },
          "categoriesNotContains": {
            "type": "string"
          },
          "categoriesIdsMatchAnd": {
            "type": "string"
          },
          "categoriesIdsMatchOr": {
            "type": "string"
          },
          "categoriesIdsNotContains": {
            "type": "string"
          },
          "categoriesIdsEmpty": {
            "type": "integer"
          },
          "statusEqual": {
            "type": "string"
          },
          "statusNotEqual": {
            "type": "string"
          },
          "statusIn": {
            "type": "string"
          },
          "statusNotIn": {
            "type": "string"
          },
          "moderationStatusEqual": {
            "type": "integer"
          },
          "moderationStatusNotEqual": {
            "type": "integer"
          },
          "moderationStatusIn": {
            "type": "string"
          },
          "moderationStatusNotIn": {
            "type": "string"
          },
          "typeEqual": {
            "type": "string"
          },
          "typeIn": {
            "type": "string"
          },
          "createdAtGreaterThanOrEqual": {
            "type": "integer"
          },
          "createdAtLessThanOrEqual": {
            "type": "integer"
          },
          "updatedAtGreaterThanOrEqual": {
            "type": "integer"
          },
          "updatedAtLessThanOrEqual": {
            "type": "integer"
          },
          "totalRankLessThanOrEqual": {
            "type": "integer"
          },
          "totalRankGreaterThanOrEqual": {
            "type": "integer"
          },
          "groupIdEqual": {
            "type": "integer"
          },
          "searchTextMatchAnd": {
            "type": "string"
          },
          "searchTextMatchOr": {
            "type": "string"
          },
          "accessControlIdEqual": {
            "type": "integer"
          },
          "accessControlIdIn": {
            "type": "string"
          },
          "startDateGreaterThanOrEqual": {
            "type": "integer"
          },
          "startDateLessThanOrEqual": {
            "type": "integer"
          },
          "startDateGreaterThanOrEqualOrNull": {
            "type": "integer"
          },
          "startDateLessThanOrEqualOrNull": {
            "type": "integer"
          },
          "endDateGreaterThanOrEqual": {
            "type": "integer"
          },
          "endDateLessThanOrEqual": {
            "type": "integer"
          },
          "endDateGreaterThanOrEqualOrNull": {
            "type": "integer"
          },
          "endDateLessThanOrEqualOrNull": {
            "type": "integer"
          },
          "referenceIdEqual": {
            "type": "string"
          },
          "referenceIdIn": {
            "type": "string"
          },
          "replacingEntryIdEqual": {
            "type": "string"
          },
          "replacingEntryIdIn": {
            "type": "string"
          },
          "replacedEntryIdEqual": {
            "type": "string"
          },
          "replacedEntryIdIn": {
            "type": "string"
          },
          "replacementStatusEqual": {
            "type": "string"
          },
          "replacementStatusIn": {
            "type": "string"
          },
          "partnerSortValueGreaterThanOrEqual": {
            "type": "integer"
          },
          "partnerSortValueLessThanOrEqual": {
            "type": "integer"
          },
          "rootEntryIdEqual": {
            "type": "string"
          },
          "rootEntryIdIn": {
            "type": "string"
          },
          "parentEntryIdEqual": {
            "type": "string"
          },
          "entitledUsersEditMatchAnd": {
            "type": "string"
          },
          "entitledUsersPublishMatchAnd": {
            "type": "string"
          },
          "tagsNameMultiLikeOr": {
            "type": "string"
          },
          "tagsAdminTagsMultiLikeOr": {
            "type": "string"
          },
          "tagsAdminTagsNameMultiLikeOr": {
            "type": "string"
          },
          "tagsNameMultiLikeAnd": {
            "type": "string"
          },
          "tagsAdminTagsMultiLikeAnd": {
            "type": "string"
          },
          "tagsAdminTagsNameMultiLikeAnd": {
            "type": "string"
          }
        }
      },
      "KalturaBaseEntryFilter": {
        "description": "",
        "properties": {
          "freeText": {
            "type": "string"
          },
          "isRoot": {
            "type": "integer"
          },
          "categoriesFullNameIn": {
            "type": "string"
          },
          "categoryAncestorIdIn": {
            "type": "string"
          },
          "redirectFromEntryId": {
            "type": "string"
          }
        }
      },
      "KalturaPlayableEntryBaseFilter": {
        "description": "",
        "properties": {
          "lastPlayedAtGreaterThanOrEqual": {
            "type": "integer"
          },
          "lastPlayedAtLessThanOrEqual": {
            "type": "integer"
          },
          "durationLessThan": {
            "type": "integer"
          },
          "durationGreaterThan": {
            "type": "integer"
          },
          "durationLessThanOrEqual": {
            "type": "integer"
          },
          "durationGreaterThanOrEqual": {
            "type": "integer"
          },
          "durationTypeMatchOr": {
            "type": "string"
          }
        }
      },
      "KalturaPlayableEntryFilter": {
        "description": "",
        "properties": {}
      },
      "KalturaMediaEntryBaseFilter": {
        "description": "",
        "properties": {
          "mediaTypeEqual": {
            "type": "integer"
          },
          "mediaTypeIn": {
            "type": "string"
          },
          "sourceTypeEqual": {
            "type": "string"
          },
          "sourceTypeNotEqual": {
            "type": "string"
          },
          "sourceTypeIn": {
            "type": "string"
          },
          "sourceTypeNotIn": {
            "type": "string"
          },
          "mediaDateGreaterThanOrEqual": {
            "type": "integer"
          },
          "mediaDateLessThanOrEqual": {
            "type": "integer"
          },
          "flavorParamsIdsMatchOr": {
            "type": "string"
          },
          "flavorParamsIdsMatchAnd": {
            "type": "string"
          }
        }
      },
      "KalturaMediaEntryFilter": {
        "description": "",
        "properties": {}
      },
      "KalturaMediaEntryFilterForPlaylist": {
        "description": "",
        "properties": {
          "limit": {
            "type": "integer"
          }
        }
      },
      "KalturaMediaInfo": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "flavorAssetId": {
            "type": "string"
          },
          "fileSize": {
            "type": "integer"
          },
          "containerFormat": {
            "type": "string"
          },
          "containerId": {
            "type": "string"
          },
          "containerProfile": {
            "type": "string"
          },
          "containerDuration": {
            "type": "integer"
          },
          "containerBitRate": {
            "type": "integer"
          },
          "videoFormat": {
            "type": "string"
          },
          "videoCodecId": {
            "type": "string"
          },
          "videoDuration": {
            "type": "integer"
          },
          "videoBitRate": {
            "type": "integer"
          },
          "videoBitRateMode": {
            "type": "integer"
          },
          "videoWidth": {
            "type": "integer"
          },
          "videoHeight": {
            "type": "integer"
          },
          "videoFrameRate": {
            "type": "number"
          },
          "videoDar": {
            "type": "number"
          },
          "videoRotation": {
            "type": "integer"
          },
          "audioFormat": {
            "type": "string"
          },
          "audioCodecId": {
            "type": "string"
          },
          "audioDuration": {
            "type": "integer"
          },
          "audioBitRate": {
            "type": "integer"
          },
          "audioBitRateMode": {
            "type": "integer"
          },
          "audioChannels": {
            "type": "integer"
          },
          "audioSamplingRate": {
            "type": "integer"
          },
          "audioResolution": {
            "type": "integer"
          },
          "writingLib": {
            "type": "string"
          },
          "rawData": {
            "type": "string"
          },
          "multiStreamInfo": {
            "type": "string"
          },
          "scanType": {
            "type": "integer"
          },
          "multiStream": {
            "type": "string"
          },
          "isFastStart": {
            "type": "integer"
          },
          "contentStreams": {
            "type": "string"
          }
        }
      },
      "KalturaMediaServer": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "dc": {
            "type": "integer"
          },
          "hostname": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          }
        }
      },
      "KalturaMediaServerStatus": {
        "description": "",
        "properties": {}
      },
      "KalturaMetadata": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "metadataProfileId": {
            "type": "integer"
          },
          "metadataProfileVersion": {
            "type": "integer"
          },
          "metadataObjectType": {
            "type": "string"
          },
          "objectId": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "xml": {
            "type": "string"
          }
        }
      },
      "KalturaMetadataProfile": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "metadataObjectType": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "systemName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "xsd": {
            "type": "string"
          },
          "views": {
            "type": "string"
          },
          "xslt": {
            "type": "string"
          },
          "createMode": {
            "type": "integer"
          }
        }
      },
      "KalturaMetadataProfileField": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "xPath": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        }
      },
      "KalturaMixEntry": {
        "description": "",
        "properties": {
          "hasRealThumbnail": {
            "type": "boolean"
          },
          "editorType": {
            "type": "integer"
          },
          "dataContent": {
            "type": "string"
          }
        }
      },
      "KalturaModerationFlag": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partnerId": {
            "type": "integer"
          },
          "userId": {
            "type": "string"
          },
          "moderationObjectType": {
            "type": "string"
          },
          "flaggedEntryId": {
            "type": "string"
          },
          "flaggedUserId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "comments": {
            "type": "string"
          },
          "flagType": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          }
        }
      },
      "KalturaObjectTask": {
        "description": "",
        "properties": {
          "type": {
            "type": "string"
          },
          "stopProcessingOnError": {
            "type": "boolean"
          }
        }
      },
      "KalturaPlayerDeliveryType": {
        "description": "",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "flashvars": {
            "type": "array"
          },
          "minVersion": {
            "type": "string"
          },
          "enabledByDefault": {
            "type": "boolean"
          }
        }
      },
      "KalturaPlayerEmbedCodeType": {
        "description": "",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "entryOnly": {
            "type": "boolean"
          },
          "minVersion": {
            "type": "string"
          }
        }
      },
      "KalturaPartner": {
        "description": "",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "notificationUrl": {
            "type": "string"
          },
          "appearInSearch": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "adminName": {
            "type": "string"
          },
          "adminEmail": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "commercialUse": {
            "type": "integer"
          },
          "landingPage": {
            "type": "string"
          },
          "userLandingPage": {
            "type": "string"
          },
          "contentCategories": {
            "type": "string"
          },
          "type": {
            "type": "integer"
          },
          "phone": {
            "type": "string"
          },
          "describeYourself": {
            "type": "string"
          },
          "adultContent": {
            "type": "boolean"
          },
          "defConversionProfileType": {
            "type": "string"
          },
          "notify": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "allowQuickEdit": {
            "type": "integer"
          },
          "mergeEntryLists": {
            "type": "integer"
          },
          "notificationsConfig": {
            "type": "string"
          },
          "maxUploadSize": {
            "type": "integer"
          },
          "partnerPackage": {
            "type": "integer"
          },
          "secret": {
            "type": "string"
          },
          "adminSecret": {
            "type": "string"
          },
          "cmsPassword": {
            "type": "string"
          },
          "allowMultiNotification": {
            "type": "integer"
          },
          "adminLoginUsersQuota": {
            "type": "integer"
          },
          "adminUserId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "additionalParams": {
            "type": "array"
          },
          "publishersQuota": {
            "type": "integer"
          },
          "partnerGroupType": {
            "type": "integer"
          },
          "defaultEntitlementEnforcement": {
            "type": "boolean"
          },
          "defaultDeliveryType": {
            "type": "string"
          },
          "defaultEmbedCodeType": {
            "type": "string"
          },
          "deliveryTypes": {
            "type": "array"
          },
          "embedCodeTypes": {
            "type": "array"
          },
          "templatePartnerId": {
            "type": "integer"
          },
          "ignoreSeoLinks": {
            "type": "boolean"
          },
          "host": {
            "type": "string"
          },
          "cdnHost": {
            "type": "string"
          },
          "isFirstLogin": {
            "type": "boolean"
          },
          "logoutUrl": {
            "type": "string"
          },
          "partnerParentId": {
            "type": "integer"
          },
          "crmId": {
            "type": "string"
          },
          "referenceId": {
            "type": "string"
          }
        }
      },
      "KalturaPartnerStatistics": {
        "description": "",
        "properties": {
          "packageBandwidthAndStorage": {
            "type": "integer"
          },
[...]
